@charset "UTF-8";
@import "https://fonts.googleapis.com/css?family=Roboto:400,700";
@font-face{
    font-family:foldable;
    src:url(../fonts/foldable.html);
    src:url(../fonts/foldabled41d.html?#iefix) format("embedded-opentype"),url(../fonts/foldable-2.html) format("woff"),url(../fonts/foldable-3.html) format("truetype"),url(../fonts/foldable-4.html#foldable) format("svg");
    font-weight:400;
    font-style:normal
}
html{
    -ms-touch-action:manipulation;
    touch-action:manipulation
}
.foldable--is-initialized *,.foldable--is-initialized :after,.foldable--is-initialized :before{
    box-sizing:inherit
}
.foldable--is-initialized>[data-foldable-role=group]{
    padding-bottom:1px
}
.foldable--is-initialized>[data-foldable-role=group]:first-child,.foldable--is-initialized>[data-foldable-role=group]:first-child>[data-foldable-role=trigger]{
    border-radius:5px 5px 0 0
}
.foldable--is-initialized>[data-foldable-role=group]:last-child{
    border-radius:0 0 5px 5px;
    padding-bottom:0
}
.foldable--is-initialized>[data-foldable-role=group]:last-child>[data-foldable-role=trigger]{
    border-radius:0 0 5px 5px
}
.foldable--is-initialized>[data-foldable-role=group]:last-child>[data-foldable-role=trigger].foldable--is-active{
    border-radius:0
}
.foldable--is-initialized>[data-foldable-role=group]:last-child>[data-foldable-role=target]{
    border-radius:0 0 5px 5px
}
.foldable--is-initialized>[data-foldable-role=group].foldable--is-first.foldable--is-last>[data-foldable-role=trigger]{
    border-radius:5px
}
.foldable--is-initialized>[data-foldable-role=group].foldable--is-first.foldable--is-last.foldable--is-opened>[data-foldable-role=trigger],.foldable--is-initialized>[data-foldable-role=group].foldable--is-first.foldable--is-last.foldable--is-opening>[data-foldable-role=trigger]{
    border-bottom-left-radius:0;
    border-bottom-right-radius:0
}
.foldable--is-initialized>[data-foldable-role=group] [data-foldable-role=trigger]{
    border-bottom:none
}
[data-foldable-role=group]{
    padding-bottom:1px
}
[data-foldable-role=group]:last-child{
    padding-bottom:0
}
[data-foldable-role=trigger]{
    cursor:pointer;
    display:block;
    font-family:Roboto,sans-serif;
    font-size:12px;
    font-style:normal;
    font-weight:700;
    line-height:10px;
    padding:15px;
    position:relative;
    text-align:left;
    text-decoration:none;
    text-transform:uppercase;
    transition:all .15s ease-out;
    width:100%;
    z-index:1
}
[data-foldable-role=trigger]:before{
    -moz-osx-font-smoothing:grayscale;
    -webkit-font-smoothing:antialiased;
    color:inherit;
    content:"î€";
    font:normal normal normal 12px foldable;
    left:inherit;
    position:absolute;
    right:0;
    text-rendering:auto;
    top:50%
}
@media (min-width:767px){
    [data-foldable-role=trigger]{
        font-size:14px;
        line-height:12px;
        padding:20px
    }
}
[data-foldable-role=trigger]:before{
    font-size:10px;
    line-height:10px;
    right:15px;
    transform:translateY(-50%);
    transform-origin:50% 25%;
    transition:all .15s ease-out
}
@media (min-width:767px){
    [data-foldable-role=trigger]:before{
        font-size:12px
    }
}
.foldable--horizontal [data-foldable-role=trigger]:before{
    content:none
}
[data-foldable-role=trigger].foldable--is-active{
    border-bottom-left-radius:0;
    border-bottom-right-radius:0
}
[data-foldable-role=trigger].foldable--is-active:before{
    transform:rotate(180deg)
}
.foldable--is-css-modern [data-foldable-role=target]{
    -webkit-backface-visibility:hidden;
    backface-visibility:hidden;
    max-height:0;
    overflow:hidden;
    perspective:2000px;
    transform-style:preserve-3d
}
.foldable--is-css-legacy [data-foldable-role=target]{
    display:none
}
.foldable--is-css-modern [data-foldable-role=animation]{
    -webkit-backface-visibility:hidden;
    backface-visibility:hidden
}
.foldable--theme-default [data-foldable-role=group] .foldable--level-0>[data-foldable-role=trigger]{
    border-left:0 solid #ff2956;
    padding-left:25px
}
.foldable--theme-default [data-foldable-role=group] .foldable--level-0>[data-foldable-role=trigger]:hover:not(.foldable--is-active){
    border-left-width:2px;
    padding-left:30px
}
.foldable--theme-default [data-foldable-role=group] .foldable--level-1>[data-foldable-role=trigger]{
    border-left:5px solid #ff2956;
    padding-left:30px
}
.foldable--theme-default [data-foldable-role=group] .foldable--level-1>[data-foldable-role=trigger]:hover:not(.foldable--is-active){
    border-left-width:7px;
    padding-left:35px
}
.foldable--theme-default [data-foldable-role=group] .foldable--level-2>[data-foldable-role=trigger]{
    border-left:10px solid #ff2956;
    padding-left:35px
}
.foldable--theme-default [data-foldable-role=group] .foldable--level-2>[data-foldable-role=trigger]:hover:not(.foldable--is-active){
    border-left-width:12px;
    padding-left:40px
}
.foldable--theme-default [data-foldable-role=group] .foldable--level-3>[data-foldable-role=trigger]{
    border-left:15px solid #ff2956;
    padding-left:40px
}
.foldable--theme-default [data-foldable-role=group] .foldable--level-3>[data-foldable-role=trigger]:hover:not(.foldable--is-active){
    border-left-width:17px;
    padding-left:45px
}
.foldable--theme-default [data-foldable-role=group] .foldable--level-4>[data-foldable-role=trigger]{
    border-left:20px solid #ff2956;
    padding-left:45px
}
.foldable--theme-default [data-foldable-role=group] .foldable--level-4>[data-foldable-role=trigger]:hover:not(.foldable--is-active){
    border-left-width:22px;
    padding-left:50px
}
.foldable--theme-default [data-foldable-role=group] .foldable--level-5>[data-foldable-role=trigger]{
    border-left:25px solid #ff2956;
    padding-left:50px
}
.foldable--theme-default [data-foldable-role=group] .foldable--level-5>[data-foldable-role=trigger]:hover:not(.foldable--is-active){
    border-left-width:27px;
    padding-left:55px
}
.foldable--theme-default [data-foldable-role=group].foldable--is-active>[data-foldable-role=trigger]{
    background-color:#eff2f7;
    color:#ff2956
}
.foldable--theme-default [data-foldable-role=group].foldable--is-current>[data-foldable-role=trigger]{
    background-color:#ff2956;
    color:#fff;
    padding-left:25px
}
.foldable--theme-default [data-foldable-role=group].foldable--is-current>[data-foldable-role=target]{
    border:1px solid #eff2f7;
    border-top:none
}
.foldable--theme-default [data-foldable-role=group].foldable--is-current.foldable--is-opened>[data-foldable-role=target],.foldable--theme-default [data-foldable-role=group].foldable--is-current.foldable--is-opening>[data-foldable-role=target]{
    border-bottom:1px solid #ff2956;
    border-color:#ff2956
}
.foldable--theme-default [data-foldable-role=group].foldable--is-current.foldable--is-closed>[data-foldable-role=target]{
    border-bottom:none
}
.foldable--theme-default [data-foldable-role=group].foldable--is-grandchild.foldable--is-closing>[data-foldable-role=target]{
    border:1px solid #ff2956;
    border-top:none
}
.foldable--theme-default [data-foldable-role=group].foldable--is-first{
    padding-top:1px
}
.foldable--theme-default [data-foldable-role=trigger]{
    background-color:#eff2f7;
    color:#41454e
}
.foldable--theme-default [data-foldable-role=trigger]:hover:not(.foldable--is-active){
    background-color:#bfc4cd;
    color:#fff;
    padding-left:25px
}
.foldable--is-disabled>[data-foldable-role=group]{
    opacity:.7
}
.foldable--is-disabled>[data-foldable-role=group] [data-foldable-role=trigger]:hover{
    background-color:#eff2f7;
    color:#41454e;
    cursor:default;
    padding-left:20px
}

